* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #707070;
}
.container{
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

.dark{
  color: #fff;
  background-color:#212614;
  padding: 1em 1em;
}

h1{
  color:#212614;
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
}

span{
  color:#b7832f;
}

.image{
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center/cover;
  margin-bottom: 20px;
}

.columns {
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  text-align: start;
  margin-bottom: 20px;
}

.col1{
  width: 20%;
}

.col2{
  width: 45%;
}

.col3{
  width: 70%;
}

@media(max-width:900px){
  h1{
    display: block;
    line-height: 1.5em;
    text-align: start;
    margin-left: 0;
  }
}
@media(max-width:768px){
  .columns{
    flex-direction: column;
  }
  
  .col1,
  .col2,
  .col3{
    width: 100%;
  }

  h1{
    display: block;
    line-height: 1.5em;
    text-align: start;
    margin-left: 0;
  }
}